#pdf-merger-wrapper {
  background: #e1e1e1;
  border-radius: 5px;
  border: 2px solid #b8b6b6;
  overflow: auto;
}
#selectedFiles .indFile {
  font-weight: 600;
  background-color: white;
  line-height: 2;
  width: 20%;
  word-break: break-all;
  display: flex;
  flex-direction: column;
}
/* .indexer {
  background: #0d6efd;
  color: white;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  text-align: center;
  float: right;
} */
/* .fileSizer {
  position: absolute;
  bottom: 0;
} */
.pdfDeleter {
  background-color: #ca1e1e;
  color: white;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  margin-top: 10px;
  transition: 0.2s ease-in;
}
.pdfDeleter:hover {
  box-shadow: 2px 2px 4px 0px #00000075;
}
.pdfDeleter svg {
  font-size: 1.4rem;
}
.indFile p {
  flex-grow: 1;
  line-height: 1.2rem;
}
.indFile p span {
  color: #ca1e1e;
  font-weight: bold;
}
.fileSizer {
  font-size: 0.9rem;
}
/* #selectedFiles .indFile:not(:first-child) {
  margin-left: 15px;
} */
