#pdf-merger-wrapper {
  padding: 30px 0px;
  background: #e1e1e1;
  border-radius: 5px;
  border: 2px solid #b8b6b6;
}
#selectedFiles li {
  font-weight: 600;
  height: 35px;
  list-style-type: none;
  background-color: white;
  color: #212121;
  line-height: 2.5;
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px auto;
  width: 100%;
}
